<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Регистрация</title>

</head>
<body>
<form th:action="@{/reg}" method="post">
    <h2>Регистрация</h2>
    <table>
        <tbody>
        <tr>
            <td>Логин:</td>
            <td>
                <input type="text" name="username" value=""/>
            </td>
        </tr>
        <tr>
            <td>Пароль:</td>
            <td>
                <input type="password" name="password"/>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input name="submit" type="submit" value="Отправить"/>
                <input name="login" type="button" value="Авторизация" onclick="javascript:window.location='/login'"/>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>